.App {
  text-align: center;
}
body{
  background-image: url(../../img/animeCover.png);
  /* background-repeat: no-repeat; */
  /* background-color: blue; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.DashNav{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  
}
/* ---------------------------------- */
/* @media all and (max-width:340px) {
  * {
    
    color:rgb(255, 251, 0);
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 118px;
    right: 0px;
    height: 99%;
    width: 62%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0000004d;
  }
  .animeImg{
    color:yellow;
    

  }
} */


@media all and (max-width:368px) {
  * {
    
    /* color:rgb(255, 0, 0); */
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 118px;
    right: 0px;
    height: 99%;
    width: 62%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0000004d;
  }

 

  img{
    width:16em
  }
  .container2{
    margin:auto 12%;
  }
  .navB{
    font-size: 11px;
  }
}

@media (min-width:370px) {
  * {
    
    /* color:rgb(195, 0, 255); */
  }

  
  img{
    width:16em
  }
  .container2{
   
    width: 16em;
  }
  .text{
    font-size:20px
  }
  .genre{
    font-size:15px;
  }
  .navB{
    font-size: 12px;
  }
}


@media (min-width:750px) {
  * {
    
    /* color:blue; */
  }

  
  img{
    width:24em
  }
  .container2{
    /* margin:auto 12%; */
    width: 25em;
  }
  .text{
    font-size:30px;
  }
  .genre{
    font-size:30px;
  }
  .navB{
    font-size: large;
  }
}

@media all and (min-width:1200px) {
  * {
   
    /* color:green; */
  }

}

@media all and (min-width:1250px) {
  * {
    
    /* color:rgb(158, 100, 235); */
  }


  .container2{
    /* margin:auto 12%; */
    width: 25em;
  }
  .genre{
    font-size:30px;
  }
}


@media all and (min-width:1300px) {
  * {
    
    /* color:rgb(255, 255, 255); */
  }
  
}



