.sign-out {
  
    position: absolute;
    top: 0px;
    right: 0;
    padding-right: 2%;
    margin-top: 0%;

}

.DashSearch {
  top: 42px;
  left: -23%;
  right: -27%;
  position: absolute;
}

.MainTitle {
  text-decoration: none;
}
h1 {
  display: inline-flex;
  max-width: fit-content;
}

.user{
  /* margin-top: 65px; */
  position: absolute;
  right:53px;
  top:-39px;
}
