/* Title */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,900&display=swap');
/* buttons */
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

*{
    /* margin:0px; */
    text-align: center;
    /* background-color: ; */
    
}

.Title{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 80px;
    
}

nav{
    background-image: url(../../img/animeCover.png);
    padding: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    text-shadow: 0px 3px #FF0000,  3px 0px#00e1ffd8;;
    color:rgb(0, 0, 0);
    background-color: #ffffffd2;
    height: 60px;
    
}
div.img{
    content:url(../../img/logo.png);
    height:30px;
    width:30px; 
}

.right-nav{
float:right;
}

h2{
    font-family: 'Barlow Condensed', sans-serif;
    text-shadow: 0px 3px #FF0000,  3px 0px #00e1ffd8;;
    font-size:60px;
    color:rgb(2, 0, 0);
    
}
.LandingLink{  
    /* font-family: 'Barlow Condensed', sans-serif; */
    text-shadow: 0px 3px #FF0000,  3px 0px #00e1ffd8;;
    /* font-family: 'Barlow Condensed', sans-serif; */
    font-size:20px;
    margin: 10px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Modak', cursive;
}

p {
    font-size: 30px;
    /* background-color: rgba(253, 59, 0, 0.63); */
    color:black;
    width: 445px;
    margin: auto;
}

.bodyPic{
    /* background-image: url(../../img/animeCover.png); */
    background-color: rgba(250, 164, 94, 0.507);
    padding-bottom: 25px;
}



.footer{
    /* background-image: url(../../img/animeCover.png) */
}
