* {
  /* margin:0px; */
  text-align: center;
  /* background-color: ; */
}

.passwordReset {
  background-color: rgba(250, 164, 94, 0.8);
  max-width: 400px;
  margin: auto;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-radius: 10px;
}

h1 {
  font-family: "Barlow Condensed", sans-serif;
  text-shadow: 0px 3px #ff0000, 3px 0px #00e1ffd8;
  font-size: 60px;
  color: rgb(2, 0, 0);
}
h3 {
  color: black;
}
.Reset {
  margin: 15px;
  font-size: 20px;
}

input {
  height: 30px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

button {
  height: 30px;
  color: rgba(0, 0, 0, 0.767);
  border-radius: 4px;
  background-color: white;
  margin: 4px;
}

p {
  font-size: 30px;
  /* background-color: rgba(253, 59, 0, 0.63); */
  color: white;
  /* width: 445px; */
  margin: auto;
}

.Submit {
  margin-top: 10px;
}
